{% if trform %}
{% load widget_tweaks %}
<!-- Dialog window for adding a new TestRun -->
<aside id="mdc-dialog-for-testrunf"
  class="mdc-dialog"
  role="alertdialog"
  aria-labelledby="mdc-dialog-with-list-label"
  aria-describedby="mdc-dialog-with-list-description">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 id="mdc-dialog-with-list-label" class="mdc-dialog__header__title">
        Create a Test Run
      </h2>
    </header>
    <form action="/create_testrun/" method="POST" name="create-testrun-form" id="create-testrun-form">
      {% csrf_token %}
      <section id="mdc-dialog-with-list-description" class="mdc-dialog__body mdc-dialog__body--scrollable">
       	<ul class="mdc-list">
          <li class='mdc-list-item'>
            <div class="mdc-textfield mdc-textfield--fullwidth mdc-textfield--upgraded" data-demo-no-auto-js="">
              {{ trform.name|attr:"class:mdc-textfield__input"|attr:"placeholder:Name"|attr:"aria-label:Name" }}
            </div>
          </li>
          <li class='mdc-list-item'>
            <div class="mdc-textfield mdc-textfield--fullwidth mdc-textfield--upgraded" data-demo-no-auto-js="">
              {{ trform.description|attr:"class:mdc-textfield__input"|attr:"placeholder:Description"|attr:"aria-label:Description" }}
            </div>
          </li>
        </ul>

        <!-- Multi-select for selecting tests to be executed -->
        <section class="tr-multi-select__section">
          <h3 class="mdc-typography--subheading2">
            Select test modules for execution:
          </h3>
          <div class="mdc-form-field mdc-form-field--align-end">
            <select multiple size="10" class="mdc-multi-select mdc-list" id="id__modules" name="_modules">
              {% with files=files template="testrunner/module_mselect.html" %}
                {% include template %}
              {% endwith %}
            </select>
            <div style="display:none">{{ trform.modules }}</div>
          </div>
        </section>

      <footer class="mdc-dialog__footer">
        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
        <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Submit</button>
      </footer>
    </form>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>
<script>
// the create test run dialog window
let dialog_tr = new mdc.dialog.MDCDialog(document.querySelector('#mdc-dialog-for-testrunf'));

dialog_tr.listen('MDCDialog:accept', function() {
  console.log('accepted');

  // submit the form
  var the_form = document.querySelector('#create-testrun-form');
  the_form.submit();

});

dialog_tr.listen('MDCDialog:cancel', function() {
  console.log('canceled');
});

// Show the modal with the TestRun form
document.querySelector('#tr-form-show').addEventListener('click', function (evt) {
  dialog_tr.lastFocusedTarget = evt.target;
  dialog_tr.show();
});

var file_selector = document.querySelector('#id__modules').addEventListener('change', function(evt) {
  var sel = document.querySelector('#id_modules');
  var el = evt.currentTarget;

  for (var i = 0; i < el.options.length; i++) {
    // get the corresponding element form the real
    // modules element
    opt_a = sel.options[i];
    opt_b = el.options[i];

    // every element in the first select triggers the second\
    // to be selected
    if (opt_b.selected) {
      opt_a.selected = true;
    } else {
      opt_a.selected = false;
    }
  }
});
</script>
{% endif %}
