{% extends "base.html" %}

{% load widget_tweaks %}

{% block pagetitle %}
TestRunner Application
{% endblock %}

{% block errors %}

  <!-- Form Errors -->
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
      <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
      </div>
      {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
  {% endif %}

{% endblock %}

{% block testrun %}
{% if testrun_current %}
  {% include "testrunner/run_instance.html" with testrun_current=testrun_current modules=modules %}
{% endif %}
{% endblock %}

{% block content %}

{% if form %}
<!-- Form Section -->
<h2 id="mdc-dialog-with-list-label" class="mdc-dialog__header__title">
  Spawn a new TestRun Instance
</h2>

<form action="#" method="POST" id="instance-form">
  {% csrf_token %}
  <ul class="mdc-list tr-form-list">

    <!-- TestRun Selection -->
    <li class='mdc-list-item'>
      <div class="mdc-form-field mdc-form-field--align-end">
        {{ form.testrun|attr:"class:mdc-select" }}
        <label for="{{field.name}}">
          {{ form.testrun.label }}{{ form.label_suffix}}
        </label>
      </div>
      <span class="mdc-list-item__end-detail">
        <a  href="#"
            role="button"
            class="material-icons"
            aria-label="Add"
            id="tr-form-show">
          <i class="material-icons">add</i>
        </a>
      </span>
    </li>

    <!-- Interface Selection -->
    <li class='mdc-list-item'>
      <div class="mdc-form-field mdc-form-field--align-end">
        {{ form.interface|attr:"class:mdc-select" }}
        <label for="{{field.name}}">
          {{ form.interface.label }}{{ form.label_suffix}}
        </label>
      </div>
    </li>

    <!-- Environment Selection -->
    <li class='mdc-list-item'>
      <div class="mdc-form-field mdc-form-field--align-end">
        {{ form.environment|attr:"class:mdc-select" }}
        <label for="{{field.name}}">
          {{ form.environment.label }}{{ form.label_suffix}}
        </label>
      </div>
      <span class="mdc-list-item__end-detail">
        <a  href="#"
            role="button"
            class="material-icons"
            aria-label="Add"
            id="te-form-show">
          <i class="material-icons">add</i>
        </a>
      </span>
    </li>

    <li class='mdc-list-item'>
      <div class="mdc-form-field">
        <button type="submit" class="mdc-button mdc-button--raised mdc-button--primary">
          Go
        </button>
      </div>
    </li>
  </ul>
</form>
{% endif %}

{% endblock %}

<!-- Block for displaying the previous test-runs -->
{% block display %}

{% include "testrunner/previous.html" with testruns=testruns %}

{% endblock %}

{% block modals %}

{% include "testrunner/modals/testrun.html" with trform=trform files=files %}
{% include "testrunner/modals/testenvironment.html" with teform=teform %}

{% endblock %}
